# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / Distribution
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/